html, body {
    margin: 0;
    padding: 0;
    overflow: inherit;
    font-family: arial;
    color:white;
  }
  canvas {
    display: block;
  }

/* Skip button 1*/
.skipButton1{
  background-color: rgb(60, 64, 72);
  color: rgb(178, 178, 178);
  border: 3px solid black;
  border-radius: 8px;
  transform: rotate(180deg);
  box-shadow: 0px 3px black;

}
.skipButton1:active {
  background-color: rgb(60, 64, 72);
  transform: translateY(-1px) rotate(180deg);
}

/* Skip button 2*/
.skipButton2{
  background-color: rgb(60, 64, 72);
  color: rgb(178, 178, 178);
  border-top-color: 3px solid grey;
  border: 3px solid black;
  border-radius: 8px;
  transform: rotate(90deg);
  box-shadow: 0px 3px black;
}
.skipButton2:active {
  background-color: rgb(60, 64, 72);
  transform: translateX(-1px) rotate(90deg);
}

/* Skip button 3*/
.skipButton3{
  background-color: rgb(60, 64, 72);
  color: rgb(178, 178, 178);
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 0px 3px black;
}
.skipButton3:active {
  background-color: rgb(60, 64, 72);
  transform: translateY(1px);
}

.sirene{
  background-image: url('/Pictures/airHorn.png');
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  background-color: grey;
  border: 3px solid black;
  border-radius: 1px;
  box-shadow: 0px 2px black;
}

.sirene:active{
  transform: translateX(-1px) rotate(90deg);
  background-color:rgba(0, 255, 0, 0.5);
  box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.5);


}

.kick{
  background-image: url('/Pictures/Kick.png');
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  background-color: grey;
  border: 3px solid black;
  border-radius: 1px;
  box-shadow: 0px 2px black;
}
.kick:active{
  transform: translateX(-1px) rotate(90deg);
  background-color:rgba(255, 0, 0, 0.5);
  box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5);
}

.beat1{
  background-image: url('/Pictures/Beat.png');
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  background-color: grey;
  border: 3px solid black;
  border-radius: 1px;
  box-shadow: 0px 2px black;
}

.beat1:active{
  background-color: rgb(128, 128, 128);
  transform: translateX(-1px) rotate(90deg);
  background-color:rgba(255, 234, 0, 0.5);
  box-shadow: 0px 0px 15px rgba(255, 234, 0, 0.5);
}

.beat2{
  background-image: url('/Pictures/Beat.png');
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  background-color: grey;
  border: 3px solid black;
  border-radius: 1px;
  box-shadow: 0px 2px black;
}

.beat2:active{
  transform: translateX(-1px) rotate(90deg);
  background-color:rgba(0, 100, 255, 0.5);
  box-shadow: 0px 0px 15px rgba(0, 100, 255, 0.5);
}

  /* Styles the whole slider */
  .slider {
    -webkit-appearance: none;
    height: 4px;
    background: black;
    outline: none;
    
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 40px;
    background: grey;
    border: 3px solid black;
    box-shadow: 0px 2px;
  }
  
  .slider::-moz-range-thumb {
    width: 10px;
    height: 30px;
    background: grey;
    border: 3px solid black;
  }

.main{
  top: 0%;
  display: inline;
}
.defaultCanvas0{
  top: 0%;
}
#search{
  background-image: url('/Pictures/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  height:20%;
  color: white;
  font-size: 14px;
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 3px solid black; /* Add a grey border */
  margin-bottom: 0; /* Add some space below the input */
  background: rgba(0, 0, 0, 0.25);
}
#titulo{
position:  absolute;
left: 80%;
top: 0%;
width: 30%;
height: 50%;
font-size: 36px;
color: grey;

}

.script{
  display:none;
}
.Sobras{
    position: absolute;
    padding: 0px;
    margin: 0px;
    height: 60%;
    width: 50%;
    top:22%;
    left: 57%;
    transform: rotate(-90deg);
}

.form-container{
  position:  absolute;
  left: 0%;
  top: 0%;
  width:30%;
  height: 50%;
  padding: 0;
  margin: 0;
  border-width: 0;
  border: none;
}

#search{
    background-image: url('/Pictures/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    height:20%;
    color: white;
    font-size: 14px;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 3px solid black; /* Add a grey border */
    margin-bottom: 0; /* Add some space below the input */
    background: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

#clear{
  position: absolute;
  top:0%;
  left:100%;
  padding: 0;
  margin: 0;
  border:none;
}


.queue-container{
  position: absolute;
  left: 60%;
  top: 20%;
  height: 60%;
  width: 46%;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow:auto;
  overflow-x: hidden;
  background-color: none;

}

.queue-container ul {
    padding: 0;
    margin: 0;
    left: 10%;
    top: 60%;
    width:88%;
    height: 100%;
    list-style: none;
    background-color: none;
}

.queue-container li {
  position: relative;
  padding-left: 30px;
  height: 20%;
  width: 100%;
  line-height: 50px;
  margin: 5px;
  border: 3px solid black;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.25); /* Old browsers */
  cursor: pointer;
  user-select: none;
}


.results-container{
  position: absolute;
  left: 0%;
  top:20%;
  padding: 0;
  margin: 0;
  width:55%;
  height: 80%;
  list-style: none;
  overflow:auto;
  overflow-x: hidden;
}

.results-container ul {
    padding: 0;
    margin: 0;
    width:100%;
    height: 100%;
    list-style: none;
    background-color: none;
}

.results-container li {
    position: relative;
    padding-left: 30px;
    height: 15%;
    width: 100%;
    line-height: 50px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 8px;
    background: rgba(0, 0, 0,0.25); /* Old browsers */
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
    user-select: none;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1; 
}

li:hover {
    border-color: black;
    box-shadow: 3px 3px 5px black;
    background: rgba(0, 0, 0, 0.25); /* Old browsers */
}


 li:active {
    background: rgba(0, 0, 0, 0.25);
    border: black;
    box-shadow: inset 0 1px 1px black;
}




/*KEYBOARD*/
.keyboard {
    position: fixed;
    right: -19.5%;
    bottom: 37%;
    width: 52%;
    padding: 5px 0;
    background: rgb(60, 64, 72);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.8s;
    transform: rotate(-90deg);
    border-radius: 15px;
    border: 3px solid black;
}

.keyboard--hidden {
    right: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid black;
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    box-shadow: 0px 3px black;

}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
    transform:translateY(1px)
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}

